.Header {
  padding-left: 30px;
}

.h1 {
  color: black;
  margin-bottom: 0;
}

.p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 5px;
}

.Container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.Container input {
  margin-top: 50px;
  width: 80%;
  padding: 12px 0px 12px 40px;
  background: #F2F2F7;
  color: #888;
  border:  none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  position: relative;
}

.Container input:focus {
  outline: none;
}

.SearchBox {
  position: relative;
}

.SearchBox img {
  position: absolute;
  left: 7px;
  top: 57px;
  width: 27px;
}