
@font-face {
  font-family: CabinetGrotesk;
  src: url("../public/assets/fonts/CabinetGrotesk-Variable.ttf");
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto/Roboto-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto/Roboto-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}

:root {
  --font-heading: CabinetGrotesk;
  --font-paragraph: Roboto;
  --cl-pale: #f8f8f8;
  --cl-green: #06d6a2;
  --cl-pale-green: #c5eee3;
  --cl-blue: #1b9aab;
  --cl-pale-blue: #a1dae5;
  --cl-very-pale: #e6f7fc;
  --cl-red: #f0476e;
  --cl-pale-red: #e7a2b3;
  --cl-yellow: #fec43e;
  --font-size-subheading: 1.5rem;
  --margin: 20px;
  --border-width: 2px;
  --font-size-heading: 3.5rem;
  --border-rad: 7px;
}

.Container {
  display: grid;
  grid-template-columns: 1fr 3fr 1.3fr;
  position: relative;
  flex: 1;
}

.noEvents {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.CalenderBox {
  display: grid;
  grid-template-rows: auto 1fr;
  z-index: 0;
  grid-row: 1/2;
  grid-column: 3/4;
}

.InnerContent {
  z-index: 2;
}

.EventContainer {
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--cl-blue);
  border-radius: var(--border-rad);
  margin: var(--margin);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 10px - var(--margin));
}


.BackPanel {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.Button {
  margin-right: 7px;
  height: 28px;
  border-radius: 100%;
  width: 29px;
  top: 7px;
  margin-top: 0;
  position: absolute;
  right: 5px;
}

.SelectedModule {
  position: relative;
  margin-bottom: var(--margin);
  border-radius: var(--border-rad);
  padding-left: var(--margin);
}

.divide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scroll {
  overflow-y: scroll;
  max-height: calc(100vh - 270px);
}

.ExpandedAnnoucement, .ExpandedDeadline {
  margin: 9px;
  padding-left: 5px;
}

.ExpandedAnnoucement {
  border-left: 3px solid rgba(0, 0, 0, 0.56);
  background-color: rgba(117, 117, 117, 0.13);
  border-radius: var(--border-rad);
}

.ExpandedAnnoucement div:nth-child(1){
  font-family: var(--font-heading);
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0;
  padding: 5px;
  padding-left: 0;
}

.ExpandedAnnoucement div:nth-child(3){
  font-size: 0.8rem;
  text-align: right;
  padding-right: 4px;
  padding-bottom: 2px;
}

.ul {
  font-family: var(--font-paragraph);
  font-size: 1.2rem;
  margin-left: 20px;
}

.inputBox {
  display: flex;
  justify-content: space-between;
}

.inputBox button {
  width: 30%;
  border: none;
  background-color: var(--cl-green);
}

.inputBox input:focus {
  outline: none;
}

.ModulesContainer {
  display: grid;
  grid-template-rows: calc(1fr - var(--margin)) calc(1fr - var(--margin));
  grid-template-columns: 1fr 1fr;
  max-height: calc(100vh - 112px);
  overflow-y: scroll;
}

.ModulesPage {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.Information {
  background-color: var(--cl-pale);
  margin-left: var(--margin);
  margin-bottom: var(--margin);
  padding: var(--margin);
  padding-top: 0;
  border-radius: var(--border-rad);
}

.Information p {
  font-size: 1.2rem;
}

.bold {
  font-weight: 700;
}

.inputBox input {
  border: 2px solid var(--cl-green);
  background-color: var(--cl-pale);
  border-radius: 3px;
  width: 70%;
}

.EventContainerPara {
  text-align: center;
  font-size: 1.4rem;
}

body {
  height: 100vh;
  margin: 0;
  position: relative;
}

.Body {
  margin-left: var(--margin);
  margin-right: var(--margin);
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
