
@font-face {
  font-family: CabinetGrotesk;
  src: url("../public/assets/fonts/CabinetGrotesk-Variable.ttf");
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto/Roboto-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("../public/assets/fonts/Roboto/Roboto-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}

:root {
  --font-heading: CabinetGrotesk;
  --font-paragraph: Roboto;
  --cl-pale: #f8f8f8;
  --cl-green: #06d6a2;
  --cl-pale-green: #aeeada;
  --cl-blue: #1b9aab;
  --cl-pale-blue: #a1dae5;
  --cl-red: #f0476e;
  --cl-pale-red: #e7a2b3;
  --cl-yellow: #fec43e;
  --font-size-subheading: 1.5rem;
  --margin: 20px;
  --border-width: 2px;
  --font-size-heading: 4.5rem;
  --border-rad: 7px;
}

.Container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  position: relative;
  flex: 1;
}

.noEvents {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.CalenderBox {
  display: grid;
  grid-template-rows: auto 1fr;
}

.EventContainer {
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--cl-blue);
  border-radius: var(--border-rad);
  margin: var(--margin);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ul {
  font-family: var(--font-paragraph);
  font-size: 1.2rem;
  margin-left: 20px;
}

.inputBox {
  display: flex;
  justify-content: space-between;
}

.inputBox button {
  width: 30%;
  border: none;
  background-color: var(--cl-green);
}

.inputBox input:focus {
  outline: none;
}

.ModulesContainer {
  display: grid;
  grid-template-rows: calc(1fr - var(--margin)) calc(1fr - var(--margin));
  grid-template-columns: 1fr 1fr;
  max-height: calc(100vh - 112px);
  overflow-y: scroll;
}

.UpcomingToday {
  background-color: var(--cl-pale);
  margin-left: var(--margin);
  margin-right: var(--margin);
  margin-bottom: var(--margin);
}

.ModulesPage {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.inputBox input {
  border: 2px solid var(--cl-green);
  background-color: var(--cl-pale);
  border-radius: 3px;
  width: 70%;
}

.EventContainerPara {
  text-align: center;
  font-size: 1.4rem;
}

body {
  height: 100vh;
  margin: 0;
  position: relative;
}

.Body {
  margin-left: var(--margin);
  margin-right: var(--margin);
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
