body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #app, #app>div {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h2{
  font-family: var(--font-paragraph);
  font-weight: 300;
  line-height: 1.5;
}

.delay1 {
  animation-delay: 0.1s !important;
}

.delay2 {
  animation-delay: 0.2s !important;
}

.delay3 {
  animation-delay: 0.3s !important;
}

.delay4 {
  animation-delay: 0.4s !important;
}

#tash {
  background: #06D6A0;

}

#monica {
  background: #1B9AAA;
}

#mark {
  background: #EF476F;

}

#tom {
  background: #FFC43D;

}

.fade-in-and-move {
  opacity: 0;
  transform: translateY(-50px); /* Move the div 20px up initially */
  animation: fadeInAndMove 1s ease forwards; /* Animation duration, timing function, and fill mode */
  position: relative;
}

@keyframes fadeInAndMove {
  to {
    opacity: 1;
    transform: translateY(0); /* Move the div to its original position */
  }
}

button {
  border: none;
  border-radius: var(--border-rad);
  background-color: var(--cl-pale-blue);
  cursor: pointer;
}