.Navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-grow: 1;
}

.img {
  width: 120px;
}

.ul {
  list-style: none;
  display: flex;
  padding-right: var(--margin);
}

.ul li {
  padding: 20px;
  font-size: var(--font-size-subheading);
  font-family: var(--font-paragraph);
}