$margin: 15px;

.Container {
    background-color: var(--cl-pale);
    margin: $margin;
    padding-top: $margin;
    border-radius: var(--border-rad);

}

.p {
    padding-left: $margin;
    margin-top: 3px;
}

.h2 {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: $margin;
}

.TopBar {
    display: grid;
    grid-template-columns: 13fr 1fr;
}

.img {
    padding-right: 15px;
}

.img img{
    width: 100%;
}

.BottomBar {
    display: flex;
    justify-content: right;
    padding-right: 3px;
    border-radius: 0 0 var(--border-rad) var(--border-rad);
}