.eventDot{
  border: 2px solid rgba(165, 42, 42, 0.53);
  z-index: 3;
  border-radius: 100%;
  width:100%;
  max-width: 30px;
  aspect-ratio: 1/1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -22px;
}

.eventDotContainer {
  position: relative;
  display: flex;
  justify-content: center;
}